* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	background: lab(48.96% -26.76 -7.98);
	color: #fff;
	font-family: 'Roboto', sans-serif;
    padding: 40px 0;
    
}

/*estructura del encabezado*/

header{
    margin-top: 20px;
    background-color: #03aac0;
    border: 2px solid yellowgreen;
    border-radius: 5px;
    width: 90%;
	max-width: 1200px;
	margin: auto;
	padding: 10px 0;
    justify-items: center;
    justify-content: center;
}

.contenedor-titulo{
    display: grid;
    justify-content: center;
}

.titulo-inicio{
    font-size: 40px;
    font-weight: 900;
    color: yellow;
}

.contenedor-escudo{
    display: grid;
    justify-content: center;
    margin-bottom: 20px;
}

.escudo1{
    width: 200px;
    height: 200px;
    border-radius: 20%;
    border: 2px solid yellow;
    margin-right: 20px;
}

.contenedor-navegacion{
    display: grid;
    justify-content: center;
}

.navegacion-menu{
    display: flex;
}

.icono{
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 2px solid yellow;
}

.lista-menu{
    display: flex;
}

.link-item{
    color: yellow;
    text-decoration: none;
    list-style: none;
    padding: 10px;
}

/*estructura del contenido*/

main {
    display: flex; 
    gap: 20px; 
    max-width: 1200px;
    margin: 0 auto;
    background-color: #03aac0;
    border: 2px solid yellowgreen;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.info-general {
    flex: 3; 
    padding: 20px;
    background-color: #03aac0;
    border: 2px solid yellowgreen;
    border-radius: 5px;
    gap: 15px;
}

.parrafo1{
    text-align: justify;
    color: yellow;
}

.titulo-parrafo{
    text-align: center;
    color: yellow;
}

.contenedor-mapa{
    position: relative;
    left: 250px;
    justify-content: center;
    justify-items: center;
}

.mapa-cauca{
    border: 2px solid yellowgreen;
    padding: 10px;
    width: 300px;
    height: 300px;
    border-radius: 5px;
}

p{
    text-align: justify;
    color: yellow;
}

aside {
    flex: 1; 
    padding: 20px;
    background-color: #03aac0;
    border: 2px solid yellowgreen;
    border-radius: 5px;
}

.contenido-lateral{
    justify-content: center;
    justify-items: center;
}

.navegador-lateral{
    align-items: center;
    justify-content: center;
    justify-items: center;
    color: yellow;
    text-decoration: none;
    list-style: none;
    padding: 10px;
}

.lateral{
    width: 150px;
    border: 2px solid yellowgreen;
    align-items: center;
    justify-content: center;
    justify-items: center;
    color: yellow;
    text-decoration: none;
    list-style: none;
    padding: 10px;
}

.item-lateral{
    color: yellow;
    text-decoration: none;
    list-style: none;
    padding: 10px;
}

.icono2{
    display: grid;
    justify-content: center;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    border: 2px solid yellow;
}

/* estructura de un footer basico*/

footer {
    background-color: #03aac0;
    border: 2px solid yellowgreen;
    border-radius: 5px;
    padding-top: 20px;
    text-align: center;
    border-radius: 8px;
    gap: 10px;
    max-width: 1200px; 
    margin-left: auto; 
    margin-right: auto; 
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.social-links a {
    color: yellow;
    margin: 0 10px;
    text-decoration: none;
    font-weight: bold;
}

.social-links a:hover {
    text-decoration: underline;
}


